# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
videos_to_analyze/*
!videos_to_analyze/.gitkeep
analysis_reports/*
!analysis_reports/.gitkeep

# OS specific
.DS_Store
Thumbs.db